
<br>

<div class="country">
    <h3>Choose  a country from {{countryList.length}} countries</h3>
    <ng-select 
        [items]="countryList" 
        [(ngModel)]="selectedCountry"
        (change)="getStateList($event)"
        placeholder="Select country"
        >
    </ng-select>
</div>
<br>
<div class="state">
    <h3>Choose a state from {{stateList.length}} states</h3>
    <ng-select 
        [items]="stateList" 
        [(ngModel)]="selectedState"
        (change)="getCityList($event)"
        
        >
    </ng-select>
</div>
<br>
<div class="city">
    <h3>Choose a city from {{cityList.length}} cities</h3>
    <ng-select 
        [items]="cityList" 
        [(ngModel)]="selectedCity"
        (change)="getWeatherInfo($event)"
        >
    </ng-select>
</div>
<br>
<div class="weather">
    <h3>Weather</h3>
    <p>{{weatherInfo.city}}</p>
    <p>{{weatherInfo.temp}} C</p>
    <p>{{weatherInfo.humidity}} %</p>
    <p>{{weatherInfo.windSpeed}} m/s</p>
    <img src="https://airvisual.com/images/{{weatherInfo.icon}}.png" alt="">
</div>